<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>



    <%= include_gon %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application", "rails.validations" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
             
              <%= yield %>
             
            </div>
          </div>
          <footer>
            <%= render 'layouts/footer' if Rails.env.development? %>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
